/*importing google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cutive+Mono&display=swap');
/* Set box-sizing of entire HTML elements to 'border-box'*/
* {
  box-sizing: border-box;
}
header div,
main div,
foot div {
  width: 800px;
  margin: auto;
  padding: 20px;
}
/*styling the header container*/
header {
  background-color: #4a4e69;
  text-align: center;
  color: #c9ada7;
}
header {
  height: 200px;
  border: 1px solid #4a4e69;
  margin-bottom: -35px;
}

header h1 {
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  letter-spacing: 7px;
  margin-bottom: -5px;
}
/*styling hr*/
hr {
border: 1px solid #22223b;
width: 65%
}

header h2 {
  font-family: "Cutive Mono", monospace;
  font-size: 20px;
  margin-top: 40px;
}
/*styling main container*/
/*Below are reusable containers that I use throughout the main container when I want cascaded properties*/
.center-text {
  text-align: center;
}
.bold-text {
  font-weight: 900;
}
.cutive-text {
  font-family: "Cutive Mono", monospace;
}
.new-border {
  border: 1px solid #c9ada7;
}
.padding {
  padding: 10px 50px 50px 50px;
}
.new-margin {
  margin-top: -40px;
} 
.about-font {
  font-size: 16px;
}
main {
  background-color: #c9ada7;
  color: #4a4e69;
  margin-bottom: -20px;
}
main img {
  display: block;
  margin: auto;
  width: 300px;
  border-radius: 50%
}

main h2 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 50px;
}
/*Set the styling of everything inside the main div container*/
main div {
  font-family: "Cutive Mono", monospace;
  font-size: 18px;
  text-align: left;
}
/*Made all list items in this element inside the border so they can move with the content*/
main li {
list-style-position: inside;
}
/*Pseudoclasses that customize howlinks look at certain conditions*/
a:link {color: #22223b;}
a:visited {color: #f2e9e4;}
a:hover {color: #4a4e69;}
a:active {color: #c9ada7;}

.adjust-text {
  text-align: right;
}

footer {
  background-color: #4a4e69;
}
/*Pushing the text in my footer up with padding inside the border*/
.footer-padding {
  padding-bottom: 50% 
}